.books{
    width: 700px;
}
.books__search{
    margin-bottom:50px;
}
.books__text{
    padding:0px 20px;
    width: 260px;
    height: 30px;
    line-height: 30px;
    margin-left:170px;
    letter-spacing: 1px;
    border-radius: 5px;
    border-color:#c7c7c7;    
}
/* input text에 입력시 움찔하는 현상은 height와 line-height를 동일하게 작성하여 해결한다. */
.books__text::placeholder{
   text-indent:6px;
}
.books__text:focus{
   
}
.books__btn{
    width: 60px;
    height: 36px;
    padding-bottom:4px;
    margin-left:3px;
    background-color:#33d9b2;
    border-color:#33d9b2;
    border-radius: 5px;
}
.books__index{
    /* width:700px; */
    display: flex;
    justify-content: flex-start;
    margin-bottom:23px;
}
.books__detail{
    margin-left:10px;
}
.books__title{
    margin: 15px 0px 0px 0px;
}